  <nav class='footer-nav'>
    <a href="<%= host + '/home/' %>">Home</a>
    <a href="<%= host + '/events/' %>">Calender</a>
    <a href="<%= host + '/meals/' %>">Meals</a>
    <a href="<%= host + '/shopping/' %>">Meals</a>
    <a href="<%= host + '/schedule/' %>">Schedule</a>
  </nav>
  <script defer src="<%= host + `/${section}.bundle.js` %>"></script>
</body>
</html>