  <nav class='footer-nav'>
    <a href="<%= host + '/home/' + familyId %>">Home</a>
    <a href="<%= host + '/events/' + familyId %>">Calender</a>
    <a href="<%= host + '/meals/' + familyId %>">Meals</a>
    <a href="<%= host + '/shopping/' + familyId %>">Meals</a>
    <a href="<%= host + '/schedule/' + familyId %>">Schedule</a>
  </nav>
  <script defer src="<%= host + `/${section}.bundle.js` %>"></script>
</body>
</html>